.navlogo {
  height: 90px;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 4px 7px 15px 0px rgba(0, 0, 0, 0.08), 5px -5px 12px 0px rgba(255, 255, 255, 0.05) inset, -5px 5px 112px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 2px 0px rgba(201, 201, 201, 0.10) inset;
  backdrop-filter: blur(75px);
}

.imgLo {
height: 150px;
position: relative;
left: -50px;
Top:-30px;
}